img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

a.active{
    background-color: blue;
    color: white;
}

p {
    color: white;
}
